# https://qa-api.quantifiedante.com

VITE_APP_BACKENDURL="https://qa-dev-api.quantifiedante.com/"
VITE_APP_FRONTENDURL="http://localhost:3000/predictive-application/"
VITE_APP_WEBSITEURL="http://localhost:5173/"
VITE_APP_SERVER="STAGING"



# REACT_APP_backendurl="http://localhost:8000/"
# REACT_APP_frontendurl="http://localhost:3000/dashboard/"
# REACT_APP_websiteurl="http://localhost:5173/"